.bgimg{
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 900px;
}
.headerset{
    box-sizing: border-box;
}
.headerset h1{
    font-size: 80px;
    font-weight: bolder;
    transition: 0.7s ease;
}
.headerset h6{
    font-size: 34px;
    padding: 20px;
}
.headerset h1:hover{
    font-size: 74px;
    color: rgb(184, 165, 165);
}
.headerset h6:hover{
    font-size: 24px;
    color: rgb(148, 131, 131);
}
@media only screen and (max-width: 800px){

                 .headerset h1{ 
                     font-size: 80px;
                 font-weight: bolder;
                 transition: 0.7s ease;
    }

                 .headerset{
                    box-sizing: border-box;

}
.posts{
    color: black;
    margin-top: 280px;
    font-size: 56px;
    margin-bottom: 25px;
}
h1{
    color: black;
    margin-top: 50px;
}
section{
    padding: 20px;
    margin: 20px;
}
.card-group {
    margin: 25px;
    transition: 0.7s ease;
}
.card{
    margin: 25px;
}
.card:hover {
    opacity: 0.3;
}
